
:root {
  --clr-accent-500: hsl(12,60%,45%);
  --clr-accent-400: hsl(12,88%,59%);
  --clr-accent-300: hsl(12,88%,75%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-primary-400: hsl(228,39%,23%);
  
  --clr-neutral-900: hsl(232,12%,13%);
  --clr-neutral-100: hsl(0,0%,100%);

  --ff-primary:'Be Vietnam Pro', sans-serif;

  --ff-body: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold:500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;


}

@media (min-width: 50rem) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);

    --fs-nav: var(--fs-300);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
li[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,body {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}


.container {
  --max-width: 1110px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding)*2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.vertical-align-center {
  align-items: center;
}

@media (min-width: 50em) {
  .justify-self-end-md {
    justify-self: end;
  }
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 3em);
}


/* general styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
}

p:not([class]) {
  opacity: 0.7;
  max-width: 32ch;
}

p[data-width="wide"] {
  max-width: 43ch;
}
/* button */

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  line-height: 1;
  border-radius: 100vmax;
  padding: 1.25em 2.5em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
  box-shadow: 0 1.125em 1em -1em var(--clr-accent-500);
}

.button[data-shadow="none"] {
  box-shadow: none;
}

.button[data-type="inverted"] {
  background-color: var(--clr-neutral-100);
  color: var(--clr-accent-400);
}

.button:hover {
  background-color: var(--clr-accent-300);
}

.button[data-type="inverted"]:hover {
  background-color: var(--clr-neutral-100);
  color: var(--clr-accent-300);
}

/* navigation */

.primary-header {
  padding-top: var(--size-700);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0.5em;
}

.nav-list {
  font-size: var(--fs-nav);
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-700));
  font-weight: var(--fw-semi-bold);
  /* gap: var(--size-500); */
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-primary-400);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-400);
}



@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    z-index: 100;
    position: fixed;
    inset: 7rem var(--size-400) auto;
    background: var(--clr-neutral-100);
    max-width: 30em;
    margin-inline:auto ;
    border-radius: var(--size-100);
    box-shadow: 0 0 .75em rgb(0,0,0,0.05);
  }

  .primary-header[data-overlay]::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0),rgb(0 0 0 / 0.8));
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .nav-list {
    display: grid;
    padding: var(--size-700);
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: var(--size-600);
    right: var(--size-400);
  }
}

.mobile-nav-toggle .icon-close {
  display: none;
}

/* footer navigation*/
.primary-footer {
  --logo-color: var(--clr-neutral-100)
}

.primary-footer-wrapper {
  display: grid;
  gap: var(--size-600) ;
  grid-template-areas: 
   'form'
   'nav'
   'logo-social';
}


.primary-footer-logo-social  {
  grid-area: logo-social;
  display: flex;
  flex-direction: column-reverse;
  gap: var(--size-700);
  align-items: center;
}

.primary-footer-nav {
  grid-area: nav;
}

.primary-footer-form {
  grid-area: form;

  display: grid;
  align-content: space-between;
}

.primary-footer-form form {
  display: flex;
  gap: var(--size-200);
}

.primary-footer-form input {
  border-radius: 100vh;
  border: 0;
  padding: var(--size-300) var(--size-400);
}

@media (min-width: 50em) {
  .primary-footer-wrapper {
    grid-template-areas: "logo-social nav form";
  }

  .primary-footer-logo-social  {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between  ;
  }
  
}

@media (max-width: 50em) {
  .primary-footer-wrapper > *{
    /* outline: 2px solid red; */
    margin-inline: auto;
  }
  
}


.footer-nav {
  columns: 2;
  gap: max(5vw, 2rem);
}

.footer-nav a {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

.footer-nav a:where(:hover, :focus) {
  color: var(--clr-accent-400);
}

/* social List */
.social-list {
  display: flex;
  gap: var(--size-600);
}

.social-icon {
  width: var(--size-600);
  fill: var(--clr-neutral-100);
  aspect-ratio: 1;
}

.social-list a:is(:hover, :focus) .social-icon {
  fill: var(--clr-accent-400)
}

@media (min-width: 50rem) {
  .social-list {
    gap: var(--size-300);
  }

  .social-icon {
    width: var(--size-500);
  }
}

/* CTA */

.cta {
  position: relative;
  isolation: isolate;
  text-align: center;
}

@media (min-width: 50em) {
  .cta {
    text-align: left;
  }
}

.cta::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: 
  url(images/bg-tablet-pattern.svg),
  url(images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: -20rem 0, 65rem -40em;
  opacity: 0.1;
  
}

/* numbered items */
.numbered-items{
  counter-reset: count;
  margin-inline:auto;
  width: fit-content;
}

.numbered-items li {
  counter-increment: count;
}

.numbered-items div {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  column-gap: var(--size-400);
  position: relative;
}

.numbered-items__title {
  grid-row: 1/2;
  grid-column: 2/3;
  line-height: 1;
}

.numbered-items .numbered-items__body {
  grid-column: 1/-1;
  opacity: 0.7;
  max-width: 32ch;
}

@media (min-width: 30em) {
  .numbered-items .numbered-items__body {
    grid-column: 2/-1;
  }
    
}

.numbered-items div::before,
.numbered-items div::after {
  height: 40px;
}


.numbered-items div::before {
  display: flex;
  align-items: center;
  content: "0" counter(count);
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  padding: 0 var(--size-500);
  border-radius: 100vw;
  grid-row: 1/2;
  grid-column: 1/2;
}

@media (max-width:30em) {
  .numbered-items div::after {
    --bg: var(--clr-accent-100);
    content: "";
    display: block;
    z-index: -1;
    grid-column: 1/-1;
    grid-row: 1/2;
    border-radius: 100vw 0 0 100vw;
    background-color: var(--bg);
    box-shadow: 5em 0 0 var(--bg);
  }
}


/* utilities class */

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.text-align {
  text-align: center;
}

@media (max-width: 50em) {
  .text-center-sm-only {
    text-align: center;
  }

  .text-center-sm-only p {
    margin-inline: auto;
  }
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-accen-400 {
  color: var(--clr-accent-400);
}

.text-accen-100 {
  color: var(--clr-accent-100);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-900 {
  color:var(--clr-neutral-900);
}

/* background-color */

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-accen-400 {
  background-color: var(--clr-accent-400);
}

.bg-accen-100 {
  background-color: var(--clr-accent-100);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-900 {
  background-color:var(--clr-neutral-900);
}

.fw-bold { font-weight: var(--fw-bold); }
.fw-semi-bold {font-weight: var(--fw-semi-bold);}
.fw-regular {font-weight: var(--fw-regular);}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.2;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-300 {font-size: 300;}
.fs-400 {font-size: 400;}
.fs-500 {font-size: 500;}
.fs-600 {font-size: 600;}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.margin-bottom-700 {
  margin-block-end: var(--size-700);
}

.display-sm-none {
  display: none;
}

@media (min-width: 50.0625em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}
